*{
  padding: 0;
  margin: 0;
}
/* =========================
   SCROLL REVEAL ANIMATION
   ========================= */

[data-animate] {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.9s ease,
    transform 0.9s ease;
  will-change: opacity, transform;
}

[data-animate].in-view {
  opacity: 1;
  transform: translateY(0);
}


/* Optional variants */
[data-animate="fade"] {
  transform: none;
}

[data-animate="up"] {
  transform: translateY(60px);
}

[data-animate="left"] {
  transform: translateX(-60px);
}

[data-animate="right"] {
  transform: translateX(60px);
}

